.mod_manager{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid gray;
    width: 850px;
    height: 50%;
    z-index: 1000;
    color: white;
    display: none;
    font-family: Roboto;
    font-size: 13px;
    flex-flow: column;
    overflow: scroll;
} 

.mod_manager_header{
    flex: 0.05;
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

.mod_manager_footer{
    flex: 0.25;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-flow: column;
    bottom: 0;
}

.mod_manager_footer_buttons{
    flex: 1.0;
    display: flex;
    flex-flow: row;
}

.name_label{
    color: white;
    font-size: x-large;
}